{{!-- <div class="styled-select icon-arrow-down3"> --}}
<div class="styled-select">    
    {{view "select"
       content=sampleTypes
       value=selectedSampleType
       prompt="Select Instrument"
	}}
</div>