<div class="tab-selection">
    <ul class="row top-menu">
        {{#each pane in panes}}
            {{#nav-tab paneId=pane.paneId}}{{pane.name}}{{/nav-tab}}
        {{/each}}
    </ul>
</div>

<div class="col-xs-12 tab-content">
    {{yield}}
</div>


