/* Utility Mixins
======================================*/

@mixin slide-mixin($background-color, $height: 100%) {
  background-color: $background-color;
  height: $height;
}

@mixin slide-section-mixin($background-color, $height: auto, $padding: 50px 0) {
  background-color: $background-color;
  height: $height;
  padding: $padding;
  margin-bottom: 100px;
}

@mixin border-separation-bottom() {
  border-style: dotted;
  border-width: 0 0 2px 0;
  border-color: nth($purple-list, 6);
}

@mixin border-separation-top() {
  border-style: dotted;
  border-width: 2px 0 0px 0;
  border-color: nth($purple-list, 6);
}

/* Component Mixins
======================================*/
@mixin sample-sound($playColor: nth($orange-list, 3), $nameColor: nth($orange-list, 2), $nameKitColor: nth($purple-list, 4), $fontSize: 18px, $height: 30px, $margin: 4px auto) {
  .sample-sound {
    color: $playColor;
    //color: nth($orange-list, 3);
    height: $height;
    margin: $margin;
  }

  .sample-sound:focus {
    background-color: rgb(207, 207, 207);
    outline: 2px solid rgb(14,163,180);
    text-indent: 10px;
  }

  .sample-sound .sample-name {
    padding: 0;
    margin: 0;
    color: $nameColor;
    font-family: quicksandbold;
    font-size: $fontSize;
    display: inline-block;
    line-height: $height;
    // @-moz-document url-prefix() { 
    //  line-height: $height - 4px;
    // } 
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sample-sound .sample-name-kit {
    padding: 0;
    margin: 0;
    color: $nameKitColor;
    font-family: quicksandbold;
    font-size: $fontSize/1.5;
    display: inline-block;
    line-height: $height;
    // @-moz-document url-prefix() { 
    //   line-height: $height - 4px;
    // } 
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 30px;
    white-space: nowrap;
  }
  .sample-sound .sample-play {
    height: $height;
    width: $height;
    font-size: ($height * 0.9);
    text-align: center;
    line-height: $height;
    // @-moz-document url-prefix() { 
    //   line-height: $height - 4px;
    // } 
    padding: 0;
    div {
      height: $height;
      width: $height;
    }
  }
  .select-sound {
    font-size: ($height * 0.9);
    text-align: center;
    line-height: $height;
    // @-moz-document url-prefix() { 
    //   line-height: $height - 4px;
    // } 
    padding: 0;
    > div {
      height: $height;
      width: $height;
      &::before {
        font-family: icomoon;
        font-size: ($height * 0.9);
        text-align: center;
      }
    }
  }
}

@mixin menu-list () {
  height: 70px;
  width: 100%;
  //margin-left: 0px;
  font-family: $paragraph;
  position: relative;
  overflow: visible;
  @include border-separation-bottom();
  form {
    margin-left: 0px;
    margin-top: 10px;
    cursor: pointer; 
    overflow: hidden;   
    //.select2-container {
    .styled-select {
      position: relative;
      overflow: hidden;
      color: $offwhite;
      font-family: $paragraph;
      height: 50px;
      width: 100%;
      background-image: none;
      //background-color: nth($purple-list, 4);
      background-image:-moz-linear-gradient(50% 0% -90deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%); 
      background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(83,65,124)),color-stop(1, rgb(70,53,111)));
      background-image:-webkit-linear-gradient(-90deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%);
      background-image:-ms-linear-gradient(-90deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%);
      background-image:linear-gradient(180deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%);
      -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff53417c,endColorstr=#ff46356f,GradientType=0)";
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff53417c,endColorstr=#ff46356f,GradientType=0);
      font-size: 18px;
      text-align: center;
      cursor: pointer;
      //.select2-choice, .select2-choice > .select2-chosen {
      &::before {
        font-family: icomoon;
        position: absolute;
        right: -2px;
        top: 0;
        height: 50px;
        width: 20px;
        font-size: 24px;
        line-height: 56px;
        //background-color: nth($purple-list, 4);
        background-image:-moz-linear-gradient(50% 0% -90deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%); 
        background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(83,65,124)),color-stop(1, rgb(70,53,111)));
        background-image:-webkit-linear-gradient(-90deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%);
        background-image:-ms-linear-gradient(-90deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%);
        background-image:linear-gradient(180deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%);
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff53417c,endColorstr=#ff46356f,GradientType=0)";
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff53417c,endColorstr=#ff46356f,GradientType=0);
      }
      select, .ember-select {
        cursor: pointer;
        position: absolute;
        height: 57px;
        left: -25px;
        width: 115%;
        box-sizing: content-box;
        text-indent: 9px;
        top: -12px;
        padding: 8px 10px 5px 25px;
        text-align: center;
      }
      @-moz-document url-prefix() { 
        select, .ember-select {
          cursor: pointer;
          position: absolute;
          height: 57px;
          left: -31px;
          width: 115%;
          box-sizing: content-box;
          text-indent: -4px;
          top: -12px;
          padding: 8px 10px 5px 25px;
        }
      }
      select, .ember-select:focus, &::before:focus {
        background: transparent;
        border: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        outline-style: none;
        border-color: transparent;
        box-shadow: none;
        cursor: pointer;  
        border-image: none;
        border-image-width: 0px;
        option {
          color: $offwhite;
        }      
      }
      select:focus, .ember-select:focus {
        outline: 0;
        outline-style: none;
        border-color: transparent;
        border-image: none;
        border-image-width: 0px;
        box-shadow: none;
        border: 0;
        option {
          color: $offwhite;
        }
      }
      select:-moz-focusring, .ember-select:-moz-focusring  {
        border-image: none;
        border-image-width: 0px;
        border-color: transparent; 
        outline: 0;
        // color: transparent;
        // text-shadow: 0 0 0 #000;
        // option:-moz-focusring, option {
        //   color: $offwhite;
        // }
      }
      option {
        height: 30px;
        width: 100%;
        margin-top: -1px;
        padding: 4px 20px;
        background-image: none;
        background-color: nth($purple-list, 4);
        margin-top: -1px;
        border: none;
        border-radius: 0px;
        margin-top: -1px;
        font-size: 18px;
        font-family: $paragraph;
        color: $offwhite;
      }
    }
    &:-moz-focusring, &:focus {
      border-color: transparent; 
      outline: 0;
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
  .top-menu {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    height: 50px;
    .menu-item {
      display: inline-block;
      //background-color: nth($orange-list, 2);
      // background-color: nth($purple-list, 4);
      background-image:-moz-linear-gradient(50% 0% -90deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%); 
      background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(83,65,124)),color-stop(1, rgb(70,53,111)));
      background-image:-webkit-linear-gradient(-90deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%);
      background-image:-ms-linear-gradient(-90deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%);
      background-image:linear-gradient(180deg,rgb(83,65,124) 0%,rgb(70,53,111) 100%);
      -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff53417c,endColorstr=#ff46356f,GradientType=0)";
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff53417c,endColorstr=#ff46356f,GradientType=0);
      list-style: none;
      //color: white;
      color: $offwhite;
      height: 50px;
      font-size: 18px;
      font-family: $paragraph;
      text-align: center;
      white-space: nowrap;
      line-height: 50px;
      // @-moz-document url-prefix() { 
      //   line-height: 42px;
      // } 
      margin-right: 3px;
      cursor: pointer;
      padding: 0;
      &:hover, &:focus {
        color: white;
        //background-color: nth($lightblue-list, 3);
        background: rgba(27,167,185,1);
        background: -moz-linear-gradient(top, rgba(27,167,185,1) 0%, rgba(13,154,172,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,167,185,1)), color-stop(100%, rgba(13,154,172,1)));
        background: -webkit-linear-gradient(top, rgba(27,167,185,1) 0%, rgba(13,154,172,1) 100%);
        background: -o-linear-gradient(top, rgba(27,167,185,1) 0%, rgba(13,154,172,1) 100%);
        background: -ms-linear-gradient(top, rgba(27,167,185,1) 0%, rgba(13,154,172,1) 100%);
        background: linear-gradient(to bottom, rgba(27,167,185,1) 0%, rgba(13,154,172,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ba7b9', endColorstr='#0d9aac', GradientType=0 );
      }
    }
    .menu-item.active {
      color: white;
      background-color: nth($lightblue-list, 3);
    }
    .menu-word {
      background-color: transparent;
      background-image: none;
      color: nth($purple-list, 2);
      cursor: default;
      &:hover {
        color: nth($purple-list, 2);
        background-color: transparent;
        background-image: none;
      }
    }
  }
}

@mixin slide-out ($translation-show, $translation-hide, $width) {
  position: absolute;
  padding: 1.5%;
  top: 0px;
  left: 0;
  right: 0;
  opacity: 1;
  height: auto;
  width: $width;
  background-color: transparentize(nth($purple-list, 1), 0.2);
  z-index: 2;
  -webkit-transform: $translation-show;
  transform: $translation-show;
  -webkit-transition: all .25s ease;
  transition: all .50s ease;

  &.ng-hide, &.ng-hide {
    display: block !important;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    -webkit-transform: $translation-hide;
    transform: $translation-hide;
  }
}
