
#about-us-slide-1 {
  @include slide-mixin();
  .social-media-margin {
    h4 {
      font-weight: 600;
      font-size: 0.9em;
    }
    p {
      font-size: 18px;
      font-weight: 300;
    }
    .social-set {
      margin-bottom:15px;
      &:last-child {
        margin-bottom: -24px;
      }
    }
  }
}

#about-us-slide-section-1 {
  @include slide-section-mixin();
}

.about-topic, .about-first-topic {
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.about-topic {
  @include border-separation-bottom();
}

.about-title {
  margin: 10px 0;
  @include h1-ow-background();
}

.about-para {
  margin: 0% 0;
  padding: 0 0%;

  h4.row {
    text-transform: capitalize;
  }

  h2.row, h4.row {
    margin-top: 5px;
    margin-bottom: 15px;
    @include h1-ow-background();
  }

  p {
    padding: 0;
  }

  p, dl {
    @include paragraph-style;
    @include p-ow-background;
    //color: nth($purple-list, 1);
  }

  .about-us-banner {
    margin: 40px 0 0 0;
    padding: 0;
    width: 100%;
    background-image: url("/images/About-us-Banner.jpg");
    background-size: cover;
    height: 160px;
  }
}
