.bt-main-content {
  .liquid-child {
    overflow: auto;
  }
  .liquid-child.velocity-animating {
    overflow: hidden;
  }
}

#bt-slide {
  @include slide-mixin();
  .slide-width-container {
    padding-top: 100px;
  }

  .slide-width-container > .row {
    height: 100%;
    margin: 0;
  }
  overflow: hidden;
  padding-top: 60px;
}

.bt-slide-section {
  @include slide-section-mixin($height: 100%);
  .filter-row {
  }
}