/*===================
General Slide Styles
*/

#kb-slide-1 {
  @include slide-mixin($offwhite);
  .slide-width-container {
    padding-top: 100px;
  }

  .slide-width-container > .row {
    height: 100%;
    margin: 0;
  }
  overflow: hidden;
  padding-top: 0;
}

#kb-slide-2 {
  @include slide-mixin($offwhite);

  .slide-width-container > .row {
    height: 100%;
    margin: 0;
  }
}

#kb-slide-3 {
  @include slide-mixin($offwhite);

  .slide-width-container > .row {
    height: 100%;
    margin: 0;
  }
}

.kb-slide-section-container {
  width: 95%;
  height: 780px;
  overflow: hidden;
}


/*===================
Slide 1 Styles
*/

#kb-slide-1-section-1 {
  @include slide-section-mixin($offwhite, $height: 100%);
  .filter-row {
  }
}

#kb-slide-1-section-2 {
  @include slide-section-mixin($offwhite, $height: 100%);
}

/* Styling for the row with the filters
This is on both of Slide1's sections */

.filter-row {
  h4 {
    margin: 0 0 0 40px;
    height: 70px; 
    line-height: 80px;
  }
  @include menu-list();

  .icon-tags::before {
    font-family: icomoon;
    font-size: 30px;
  }
}

.filter-row-pocket-effect {
  box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.1);
  z-index: 3;
}



/* Styling for the main body of kit selection
and sound selection sections */
.kit-row, .selection-row {
  position: relative;
  background-color: $offwhite;
  width: 100%;
  padding: 0%;
  height: 600px;
  overflow-y: hidden;
  overflow-x: hidden;
  .sound-kit, .sound-kit-selection {
    margin-top: 2%;
    margin-bottom: 3%;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
  }
  .tag-selection, .kit-description {
    @include slide-out(translateY(0%), translateY(-100%), 100%);
    //@include slide-out(translateX(140%), translateX(300%), 180px);
    padding: 2%;
  }
  #kitmix-gradient {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    height: 70px;
    pointer-events: none;
    background: -moz-linear-gradient(top, rgba(221,221,220,0) 40%, rgba(221,221,220,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgba(221,221,220,0)), color-stop(100%,rgba(221,221,220,1)));
    background: -webkit-linear-gradient(top, rgba(221,221,220,0) 40%,rgba(221,221,220,1) 100%);
    background: -o-linear-gradient(top, rgba(221,221,220,0) 40%,rgba(221,221,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(221,221,220,0) 40%,rgba(221,221,220,1) 100%);
    background: linear-gradient(to bottom, rgba(221,221,220,0) 40%,rgba(221,221,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddc', endColorstr='#dddddc',GradientType=0 );
  }
}

.tag-list {
  padding: 0;
  margin: 0;
  li {
    height: 40px;
    margin-left: -20px;
  }
  .tag-name {
    font-family: $paragraph;
    font-size: 16px;
    color: $offwhite;
    margin-top: 10px;
    text-align: center;
    white-space: nowrap;
  }
}

.kit-description {
  p {
    font-family: $paragraph;
    font-size: 20px;
    text-indent: 50px;
    color: $offwhite;
    width: 80%;
    margin: 0 auto;
  }
}



/* Sound Selection styles
Broken down into two subsections (Left and Right)
*/
.selection-row {
  overflow: hidden;
/* Styles for Left and Right */
  .selected-kit-media, .selected-kit-sounds {
    overflow-y: auto;
    > div.row {
      margin: 0;
    }
    h4 {
      @include h1-g-background;
    }
  }
/* Styles for Left Part of Section */
  .selected-kit-media {
    height: 160px;
    .sound-kit-soundcloud {
      margin-top: 2%;
      .image, .artwork_image, img {
        display: none;
      }
    }
  }
/* Styles for Right Part of Section */
  .selected-kit-sounds {
    height: 240px;
    .sample-list {
        width: 50%;
        margin: 0;
        /* sample-sound(fontcolor, playcolor, ft-size, ht, margin)*/
        @include sample-sound();
    }
  }
}

.sample-list {
  padding: 0;
}

#kitmix .mix {
  display: none;
}


/**
 * Fail message styles
 */

#kitmix {
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

#kitmix .fail-message{
  font-family: $paragraph;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  color: nth($purple-list, 3);
  pointer-events: none;
  z-index: 1;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  transition: 150ms;
}

#kitmix .fail-message:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#kitmix .fail-message span{
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
}

#kitmix.fail .fail-message{
  opacity: 1;
  pointer-events: auto;
}

.sample-filters {
  margin-left: 3px;
}






/*===================
Slide 2 Styles
*/

.kit-details, .kit-details > * {
  @include h3-ow-background();
  //padding: 0;
}

.kit-details {
  margin-bottom: 40px;
  margin-top: 60px;
  .sample-name-total {
    color: nth($orange-list, 3);
  }
  .cds-form {
    .name-your-kit {
      font-family: $headline;
      font-size: 1.75em;
      height: 53px;
      width: 100%;
      line-height: 53px;
    }
  }
}

.kit-choices, .discounts {
  width: 100%;
  padding: 0;  
}

.discounts {
  .total-sounds {
    h3 {
      @include h1-ow-background();
      span {
        color: nth($orange-list, 3);
      }
    }
  }
}

.kb-slide-2-section {
  overflow-y: auto;
  @include slide-section-mixin($offwhite);
}

.section-pocket-effect {
  box-sizing: padding-box;
  border-style: solid;
  border-color: nth($purple-list, 6);
  border-width: 2px 0 2px 0;
  border-style: dotted;
//  box-shadow: inset 0px 4px 4px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 15px 30px -20px rgba(0, 0, 0, 0.1);
  z-index: 3;
  padding: 30px 0;
}

.sample-choices {
  margin-bottom: 30px;
  h4 {
    @include h3-ow-background();
    padding: 0;
  }

  .instrument-choice {
    margin: 0;
    > span {
      font-family: quicksandbold;
      font-size: 20px;
      display: inline-block;
      margin-top: 8px;
      padding: 0;
      @include h3-ow-background();
    }
  }

  .sample-list {
    /*fontcolor, playcolor, ft-size, ht, margin*/
    @include sample-sound($fontSize: 20px, $height: 40px, $margin: 5px 0 15px 3px);
    .sample-info {
      height: 40px;
      padding: 0;
      .sample-name {
        height: 25px;
        line-height: 25px;
        display: block;
        margin-bottom: -3px;
        width: 100%;
      }
      .sample-name-kit {
        height: 15px;
        line-height: 15px;
        display: inline-block;
      }
    }
    .select-sound {
      cursor: pointer;
      > div::before {
        color: nth($lightblue-list, 3);
      }
    }
  }
}

.discount-section {
  margin-top: 93px;
  padding: 10px;
  height: 504px;
//  background-color: transparentize(nth($purple-list, 5), 0.8);
  background-color: nth($purple-list, 4);
  color: $offwhite;
}


/* Styling for the row with the filters
This is on both of Slide1's sections */

/*===================
Slide 3 Styles
*/

#kb-slide-3-section-1 {
  @include slide-section-mixin($offwhite, $height: 100%);
  .filter-row {
  }
}

#kb-slide-3-section-2 {
  @include slide-section-mixin($offwhite, $height: 100%);
}

.kb-checkout-section-container {
  margin-top: 20px;
}

.kb-checkout-headline{
  @include h1-ow-background();
}

.payment-info {
  .cds-form {
    input {
      box-sizing: border-box;
      margin: 5px 0px 5px 0;
    }
    span {
      @include p-ow-background();
      font-family: $paragraph;      
    }
    .credit-card-info {
    }
    #first-name-billing, #last-name-billing, #state-billing, #zip-code-billing {
      width: 49%;
    }
    #last-name-billing, #zip-code-billing {
      margin-left: 4px;
    }
    #cvc-billing{
      margin-left: 4px;
    }
    #address-1-billing, #address-2-billing, #city-billing, #country-billing {
      width: 99.7%;
    }
  }
}


.kb-checkout-subroute {
  h3 {
    text-indent: 2px;    
    text-shadow: none;
  }
  h3#choose-payment{
    @include h1-ow-background();
  }
  h3#congrats-on-kit{
    color: nth($orange-list, 2);
  }
  p {
    font-size: 18px;
    @include p-ow-background();
    font-family: $paragraph;
    margin: 20px 0;
  }
  a.cds-button {
    margin-bottom: 20px;
  }
  a.email-link, a.icon-arrow-left3 {
    @include link-ow-background();    
  }
  a.icon-arrow-left3 {
    display: inline-block;
    height: 100%;
    line-height: 77px;
    font-size: 18px;
    white-space: nowrap;
    &::before {
      font-family: icomoon;
    }
  }
}

#kb-checkout-invoice {
  background-color: lighten(nth($gray-list, 6), 20);
  height: 600px;
  th > h4, th > h3, th > p, #kb-checkout-total h3 {
    @include h1-ow-background();
    text-indent: 20px;
    margin-top: 20px;
  }
  #kb-checkout-total span {
    // font-family: quicksandbold;
    color: nth($lightblue-list, 3);
  }
  #kb-checkout-total h3 {
    @include border-separation-top();
    padding-top: 5px;
    
  }
}

#kb-checkout-invoice-table-wrapper {
  height: 500px;
  padding: 0 20px;
  overflow-y: auto;
}

.kb-checkout-invoice-cell {
  text-align: left;
  vertical-align: top;
  .sample-sound {
    color: nth($orange-list, 3);
    //color: nth($orange-list, 3);
    height: 30px;
    margin: 4px auto;
  }
  .sample-sound .sample-name {
    padding: 0;
    margin: 0;
    color: nth($orange-list, 2);
    font-family: quicksandbold;
    font-size: 18px;
    display: inline-block;
    line-height: 30px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sample-sound .sample-name-kit {
    padding: 0;
    margin: 0;
    color: nth($purple-list, 4);
    font-family: quicksandbold;
    font-size: 12px;
    display: inline-block;
    line-height: 30px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 30px;
    white-space: nowrap;
  }
}

.kb-main-content {
  .liquid-child {
    overflow: auto;
  }
  .liquid-child.velocity-animating {
    overflow: hidden;
  }
}

.kb-save-container {
  display: inline-block;
  width: 75px;
  height: 60px;  
  position: fixed;
  bottom: 50px;
  right: 0%;
  transition: .3s all ease;
  // left: 0%;
  .kb-save {
    color: $offwhite;    
    // margin-left: -85px;
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 35px;
    line-height: 58px;
    text-align: center;
    cursor: pointer;
    &.dirty {
      background-color: nth($orange-list, 2);
    }
    &.clean {
      background-color: nth($lightblue-list, 2);
    }    
  }
  .kb-template-save-form {
    display: inline-block;
    float: left;
    position: relative;
    width: 300px;
  }
  #kb-template-save-input {
    transform: translate(75px, -60px);
    width: 150px;
    height: 60px;
  }
  #kb-template-save-button {
    width: 150px;
    transform: translate(225px, -120px);
    font-size: 18px;
    border-radius: 0px;
  }
  &.start-save {
    transform: translate(-320px, 0%);
    overflow: visible;  
  }
}

// .kb-template-save-form button {

// }