// Landing Page has 1 slide

#lp-slide-1 {
  @include slide-mixin();
  padding: 0;  
}

#lp-slide-section-1 {
  @include slide-section-mixin($padding: 60px 0);
  margin-bottom: 0;
}

// General Section Styles

.lp-title-tagline-logo {
  .lp-title-tagline {
    white-space: nowrap;
    h1, h3, h2 {
      text-align: center;
    }
  }
  .lp-logo {
    height: 120px;
    background-image: url("/images/New-Logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}


.lp-sales-pitch {
  margin: 5% 0 3% 0;
  // white-space: nowrap;
}

// .three-steps {
//   .step-container {
//     position: relative;
//   }
//   .step {
//     height: 300px;
//     background-repeat: no-repeat;
//     background-size: contain;
//     h3 {
//       position: absolute;
//       text-align: center;
//       white-space: nowrap;
//       bottom: -28px;
//     }
//     p {
//       margin-top: 30%;
//       text-align: center;
//     }
//   }
// }


// // Flip Effect General Styles
// .step-container {
//   /* entire container, keeps perspective */
// 	perspective: 800;
//     height: 300px;
//     .flipper {
//       transition: 0.6s;
//       transform-style: preserve-3d;
//       position: relative;
//     }

//     &:hover, .flipper:hover, .flipper.hover {
//       .front {
//         -webkit-transform: perspective(800px) rotateY(-179.9deg);
//         -moz-transform: perspective(800px) rotateY(-179.9deg);
//         transform: perspective(800px) rotateY(-179.9deg);
//       }
//       .back {
//         -moz-transform: perspective(800px) rotateY(0);
//         -webkit-transform: perspective(800px) rotateY(0);
//         transform: perspective(800px) rotateY(0);
//       }
//     }

//     .front, .back {
//       /* hide back of pane during swap */
//       position:absolute;

//       -webkit-transition: 0.7s ease-in-out;
//       -moz-transition: 0.7s ease-in-out;
//       -ms-transition: 0.7s ease-in-out;
//       -o-transition: 0.7s ease-in-out;
//       transition: 0.7s ease-in-out;

//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 300px;
//     }

//     /* front pane, placed above back */
//     .front {
//         z-index: 2;
//         /* for firefox 31 */
//         transform: rotateY(0deg);
//         -moz-backface-visibility: hidden;
//         -webkit-backface-visibility: hidden;
//         backface-visibility: hidden;
//         -moz-transform: perspective(800px) rotateY(0deg);
//         -webkit-transform: perspective(800px) rotateY(0deg);
//         transform: perspective(800px) rotateY(0deg);
//     }
//     /* back, initially hidden pane */
//     .back {
//         -moz-backface-visibility: hidden;
//         -webkit-backface-visibility: hidden;
//         backface-visibility: hidden;
//         -moz-transform: perspective(800px) rotateY(180deg);
//         -webkit-transform: perspective(800px) rotateY(180deg);
//         transform: perspective(800px) rotateY(180deg);
//     }
// }

// First section Styles
#lp-slide-section-1 {

  .lp-title-tagline-logo {
    h1, h2, h3, h4 {
      @include h1-ow-background;
    }
    .title-tagline {
      @include h1-ow-background;
    }
    .lp-logo {
    }
  }

  .lp-sales-pitch {
    @include p-ow-background;

    a {
      @include link-ow-background;
    }
  }
}

// LANDING PAGE VIDEO

.lp-video-wrapper {
  height: 400px;
  overflow: hidden;
  // margin-top: -60px;
  width: 100%;
  min-width: 970px;
  background-size: cover;
  box-shadow: 0 1px #fff, 0 19px 27px rgba(0,0,0,.075);
  border-bottom: 1px rgba(0,0,0,.5) solid;
  @media screen and (min-width: 1280px){
      height: 500px;
      display: block;
      width: 100%;
      // margin-top: -200px;
      position: relative;
    }
  video {
    display:none;
    margin-top: 0;
    @media screen and (min-width: 1280px){
      // margin-top: -200px;
      display: block;
      width: 119%;
      position: relative;
      background-position: center;
      background-size: cover;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      filter: grayscale(83%);
      -webkit-filter: grayscale(83%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

    }
  }
  #lp-video-overlay{
    height: inherit;    
    position: absolute;
    top: 60px;
    width: 100%;
    min-width: 970px;
    line-height: 1.6em;
    font-size: 1em;
    background-image: url("/images/LP-BG.jpg");
    background-size: cover;
    .lp-video-overlay-wrapper {
      background-color: transparentize(nth($purple-list, 1), 0.2);
      padding-top: 100px;
      height: inherit;
    }
    @media screen and (min-width: 1280px){
      background: -webkit-linear-gradient(top,rgba(33, 19, 42, 0.32) 0, rgba(44, 159, 176, 0.16) 100%);
      background: linear-gradient(to bottom,rgba(33, 19, 42, 0.32) 0,rgba(44, 159, 176, 0.16) 100%);
      h2 {
        margin-top: 24px;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
        font-size: 2.5em
      }
      .lp-video-overlay-wrapper {
        background: none;
        padding-top: 0;
      }
      .lp-video-overlay-inner {        
        @include slide-out (translateY(0%), translateY(-100%), 100%);
        border-radius: 13px;
        // border-radius: 10px;
        width: 970px;
        height: 90%;
        top: 25px;
      }
      // height: inherit;
      // background: none;        
      top: 0;
      width: 100%;
      border-radius: 0;
      height: 100%;
      // border-radius: 10px;
      // width: 970px;
      // height: 90%;
      // top: 25px;
    }    
    h1, h2, h3, h4 {
      color: $offwhite;
      // white-space: nowrap;
      overflow: hidden;
      font-weight:600;
      // text-overflow: ellipsis;
      text-align: center;
    }
    p {
      margin-top:30px;
      margin-bottom: 3%;
      color: $offwhite;
      font-weight:300;
      text-align: center;
      line-height: 1.5em;
      text-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
  }
}

.lp-container {
  margin-top: 64px;
    p {
      // margin-top: 3%;
      margin-bottom: 3%;
      text-align: center;
      line-height: 1.75em; 
      display: inline-block;
      font-weight: 300;
    }
}

.lp-three-choices {
  .lp-choice {
    margin: 0% 0 12% 0;
    height: 212px;
    .lp-choice-genre {
      width: 100%;
      height: 212px;
      margin: 0 auto;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background-size: cover;
    }
    .lp-choice-genre.lp-animated-choice {
      width: 212px;
    }    
  }
  label {
    margin: 20px 0;
  }
  #lp-choice-genre-1, #lp-choice-genre-4 {
    background-image: url("/images/HipHop-cropped.jpg");
  }
  #lp-choice-genre-2, #lp-choice-genre-5 {
    background-image: url("/images/Electronic-cropped.jpg");
  }
  #lp-choice-genre-3, #lp-choice-genre-6 {
    background-image: url("/images/Experimental-cropped.jpg");
  } 
  #lp-choice-equal {
    background-image: url("/images/kit-divider7.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    height: 212px;
    width: 50px;
    z-index: 2;   
    opacity: 0.5;
    left: -21px;
  }
  .lp-choice-result {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    right: 0;    
    .liquid-child {
      width: 212px;
      height: 212px;
    }
  }
  #lp-choice-result-eh {
    height: 212px;
    width: 212px;    
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/images/Experimentalhiphop-cropped2.jpg");
  }
  #lp-choice-result-trap {
    height: 212px;
    width: 212px;    
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/images/Trap.jpg");
  }
  #lp-choice-result-eedm {
    height: 212px;
    width: 212px;    
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/images/Experimental-edm.jpg");
  }
  .lp-animated-choice {
    position: absolute;
    z-index: -1;
    transition: 0.5s all ease;
    opacity: 0;
    transform: translateX(-100%);
  }
  .lp-animated-choice.lp-animated-choice-visible {
    opacity: 1;
    transform: translateX(5%);
  }
  #lp-choice-buffer {
    // width: 20px;
    // position: absolute;
    // left: -6px;
    // top: 0;
    // z-index: 3;
    // height: 100%;
    // opacity: .99;
    position: absolute;
    height: 212px;
    width: 20px;
    right: 230px;
    z-index: 4;
  } 
}

#gradient-overlay {
  height: 100%;
  z-index: 999;
  width: 100%;
  position: absolute;       
  opacity: 0.13;
  pointer-events: none;
  background-image: linear-gradient(0deg, #FFFFFF 0%, #000000 100%);
  opacity: .135;
}

#lp-header {
  text-align: center;
  @media screen and (max-width: 1280px){
    margin-top:50px;
  }
}
