/* Base Page Styling
======================================================== */
.main-content {
  width: 100%;
  height: 110%;
  position: relative;
  overflow: hidden;
  margin-top: 0px; // Can make the top nav see-through
  background-color: transparent;
  .container {
    margin-bottom: 200px;
  }
}

// For tab based pages (uses ember tab-view component)
.tab-content {
  .tab-pane {
    display: none;
    &.active {
      display: block;
    }
  }
}



/* App Page Styling
======================================================== */

.slide {
  width: 100%;
  height: 100%;
  padding-top: 100px; // see through nav
  position: absolute;
  overflow: scroll;
  z-index: 200;
  -webkit-overflow-scrolling: touch;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: .55s all ease;
  transition: .55s all ease;
}
// @-moz-document url-prefix() { 
//   .slide {
//     width: 100%;
//     height: 100%;
//     padding-top: 50px; // see through nav
//     position: absolute;
//     overflow-y: scroll;
//     z-index: 200;
//     -webkit-overflow-scrolling: touch;
//     left: 0;
//     right: 0;
//     top: 0;
//     -webkit-transition: .55s all ease;
//     transition: .55s all ease;
//   }
// }

.slide.ng-hide {
  display: block !important;
  opacity: 0;
}

.slideshow-starting-pos {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}


.slide-width-container {
  margin: 0 auto;
  max-width: 1400px !important;
  width: 1400px;
}


.ontop {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}

.appnav {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  z-index: 999;
  box-shadow: 0 -1px rgba(0,0,0,0.4);
}

.app-id {
  //background-color: #302243;
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(59,47,79) 0%,rgb(45,34,65) 100%); 
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(59,47,79)),color-stop(1, rgb(45,34,65)));
  background-image:-webkit-linear-gradient(-90deg,rgb(59,47,79) 0%,rgb(45,34,65) 100%);
  background-image:-ms-linear-gradient(-90deg,rgb(59,47,79) 0%,rgb(45,34,65) 100%);
  background-image:linear-gradient(180deg,rgb(59,47,79) 0%,rgb(45,34,65) 100%);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3b2f4f,endColorstr=#ff2d2241,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3b2f4f,endColorstr=#ff2d2241,GradientType=0);
  height: auto;
  padding: 0;
  h5 {
    box-sizing: padding-box;
    color: $offwhite;
    text-shadow: 0px 0px 0px white;
    font-size: 0.95em;
    font-family: $paragraph;
    font-weight: 600;
    text-transform: uppercase;
    // letter-spacing: 1px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.71);
    border-bottom: 1px solid rgba(30, 30, 30, 0.71);
    border-top: 1px solid desaturate(lighten(nth($purple-list, 4), 20%), 10%);
    white-space: nowrap;
    overflow: auto;
    text-overflow: clip;
    // font-weight: 600;
  }
}


.slide-navigation {
  height: auto;
  box-sizing: border-box;
  //background-color: #302243;
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(59,47,79) 0%,rgb(45,34,65) 100%); 
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(59,47,79)),color-stop(1, rgb(45,34,65)));
  background-image:-webkit-linear-gradient(-90deg,rgb(59,47,79) 0%,rgb(45,34,65) 100%);
  background-image:-ms-linear-gradient(-90deg,rgb(59,47,79) 0%,rgb(45,34,65) 100%);
  background-image:linear-gradient(180deg,rgb(59,47,79) 0%,rgb(45,34,65) 100%);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3b2f4f,endColorstr=#ff2d2241,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3b2f4f,endColorstr=#ff2d2241,GradientType=0);
  border-left: 0px solid nth($purple-list, 4);
  border-bottom: 1px solid rgba(30, 30, 30, 0.71);
  border-top: 1px solid desaturate(lighten(nth($purple-list, 4), 20%), 10%);
}

.item-holder {
  list-style: none;
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: visible;
  height: 40px;
  padding: 0;
}

.slide-nav-item {
  position: absolute;
  display: inline-block;
  font-size: .7em;
  font-family: Roboto;
  font-weight: 400;
  height: 40px;
  width: 100%;
  line-height: 40px;
  // @-moz-document url-prefix() { 
  //   line-height: 33px;
  // } 
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: $offwhite;
  text-shadow: none;
  &:hover, &.active {
    text-decoration: none;
    // background-color: nth($purple-list, 4);
    background-image:-moz-linear-gradient(50% 0% -90deg,rgb(86,66,123) 0%,rgb(73,52,109) 100%); 
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(86,66,123)),color-stop(1, rgb(73,52,109)));
    background-image:-webkit-linear-gradient(-90deg,rgb(86,66,123) 0%,rgb(73,52,109) 100%);
    background-image:-ms-linear-gradient(-90deg,rgb(86,66,123) 0%,rgb(73,52,109) 100%);
    background-image:linear-gradient(180deg,rgb(86,66,123) 0%,rgb(73,52,109) 100%);
    font-weight: 700;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff56427b,endColorstr=#ff49346d,GradientType=0)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff56427b,endColorstr=#ff49346d,GradientType=0);
    color: $offwhite;
  }
  &:-moz-focusring, &:focus {
    outline: 0;
  }
}



/* Static Page Styling
======================================================== */

.paragraph-text {
  @include p-ow-background;
}

