.register-slide {
	background-image: -webkit-radial-gradient(50% 100%, #7D679B 0%, #4E3471 100%);background-image: radial-gradient(50% 100%, #7D679B 0%, #4E3471 100%);
}

@-moz-document url-prefix() { 
  .register-slide {
    padding-top: 100px; // see through nav
  }
}

.register-info {
	margin-top: 40px;
	input {
		height: 55px;
		width: 400px;
		margin: 0 0 30px 100px;
	}
}

.register-container {
	margin-top: 50px;
	width: 600px;
	h2, h3 {
		text-align: center;
		color: $offwhite;
	}
}

.register-button {
	height: 100px;
	font-size: 48px;
}

.activate-container {
	margin-top: 50px;
	width: 600px;
	h2, h3 {
		text-align: center;
		margin: 50px 0px;
		@include h1-ow-background();
	}	
}

.ty4-register-points {
	font-family: quicksand;
	font-size: .9em;
	line-height: 1.5em;
	text-align: center;
	color: $offwhite;
}

.ty4-register-spacing {
	margin: 30px 10px;
}

.sa-icon {
	color:rgb(200,20,30);
	border-color: rgb(230,230,230);
}

.sa-error {
	color:rgb(200,20,30);
	border-color: rgb(230,230,230);
}
