.register-slide {
	background:
		url(/images/register_bg.png) top center no-repeat,
		radial-gradient(90% 100%,#694f8c -23%,#20192A 50%);
	margin-top: 60px;
}

@-moz-document url-prefix() { 
  .register-slide {
    padding-top: 100px; // see through nav
  }
}

.register-info {
	margin-top: 40px;
	input {
		height: 55px;
		width: 370px;
		margin-bottom: 10px;		
	};
	.cds-fieldset {
		margin: 0 0 20px 0;
	}
}

.register-container {
	width: 400px;
	h2, h3 {
		text-align: center;
		color: $offwhite;
		text-transform: uppercase;
		font-size: 2em;
		font-weight: 500;
	}
}

.register-button {
	height: 100px;
	margin-top: 10px;
	font-size: 38px;
}

.activate-container {
	margin-top: 50px;
	width: 600px;
	h2, h3 {
		text-align: center;
		margin: 50px 0px;
		@include h1-ow-background();
	}	
}

.ty4-register-points {
	font-family: Roboto;
	font-size: .9em;
	line-height: 1.5em;
	text-align: center;
	color: $offwhite;
}

.ty4-register-spacing {
	margin: 30px 10px;
}

.sa-icon {
	color:rgb(200,20,30);
	border-color: rgb(230,230,230);
}

.sa-error {
	color:rgb(200,20,30);
	border-color: rgb(230,230,230);
}
