.sweet-alert {
  
  @media all and (max-width: 540px) {

  }

  h2 {

  }

  p {

  }

  fieldset {

  }

  .sa-error-container {

    &.show {

    }

    .icon {

    }
    p {
    
    }
  }

  .sa-input-error {
    &::before, &::after {

    }
    &::before {

    }
    &::after {

    }
    &.show {

    }
  }

  input {

    &:focus {

    }
  }
  &.show-input input {

  }

  button {
    $btnBlue: nth($purple-list, 3);
    $btnGray: $offwhite;
    background-image: linear-gradient(180deg, nth($purple-list, 4), nth($purple-list, 3));
    &:focus {
      outline: none;
      box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    }
    &:hover {
      background-color: darken($btnBlue, 3%);
    }
    &:active {
      background-color: darken($btnBlue, 10%);
    }
    &.cancel {
      background-color: $btnGray;
      &:hover {
        background-color: darken($btnGray, 3%);
      }
      &:active {
        background-color: darken($btnGray, 10%);
      }
      // Cancel button should keep the same style
      &:focus {
        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important;
      }
    }
    // Removes selection outline in Firefox
    &::-moz-focus-inner {
      border: 0;
    }
  }

  // Only show focus-style when there is multiple choice of actions
  &[data-has-cancel-button=false] button {
    box-shadow: none !important;
  }

  &[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 40px;
  }

  .sa-icon {
    $red:     nth($orange-list, 1);
    $orange:  nth($orange-list, 1);
    $blue:    nth($purple-list, 3);
    $green:   nth($lightblue-list, 3);
    border: none;
    &.sa-error {
       border: 4px solid rgba($red,0.3);
      .sa-x-mark {
      }

      .sa-line {
        background-color: $red;
        &.sa-left {
        }
        &.sa-right {
        }
      }
    }
    &.sa-warning {
      border-color: $orange;
      .sa-body { // Exclamation mark body
        background-color: $orange;
      }
      .sa-dot { // Exclamation mark dot
        background-color: $orange;
      }
    }
    &.sa-info {
      border-color: $blue;
      &::before { // i-letter body
        background-color: $blue;
      }
      &::after { // i-letter dot
        background-color: $blue;
      }
    }
    &.sa-success {
      border-color: $green;
      &::before, &::after { // Emulate moving circular line
      }
      &::before {
      }
      &::after {
      }

      .sa-placeholder { // Ring
        border: 4px solid rgba($green,0.3);
      }

      .sa-fix { // Hide corners left from animation
      }

      .sa-line {
        background-color: $green;
        &.sa-tip {

        }
        &.sa-long {

        }
      }
    }
    &.sa-custom {

    }
  }

}