.team-members-slide {
  padding-top: 100px;
}

#team-members-slide-section-1 {
  @include slide-section-mixin();
}

.tm-title {
  margin: 10px 0;
  @include h3-g-background ();
}

#tm-description {
   @include p-ow-background();
   @include paragraph-style;
   margin-top: 50px;
   margin-bottom: 50px;
}

#tm-picture-1 {
	background-image: url('/images/zeph.jpg');
}

#tm-picture-2 {
	background-image: url('/images/teammember.jpg');
}

.tm-picture {
	height: 335px;
	width: 100%;
	background-size: cover;

}

.tm-description-box {
    display: block !important;
    -webkit-transition: all 1s ease;
    transition: all 1.5s ease;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    height: 335px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 18px;
    color: $offwhite;
}

.tm-button-description-container {
	position: relative;
	height: 130px;
	width: 100%;
	// margin-top: 30px;
	&:hover .tm-description-box {
		@include slide-out(translateY(-335px), translateY(100%), 100%);
		height: 335px;
	}
}

.tm-button-buffer {
  height: 30px;
  width: 100%;
  position: absolute;
  background-color: $offwhite;
  z-index: 3;
  top: 0;
}

.tm-button {
	position: absolute;
	z-index: 3;
	font-size: 36px;
  border-radius: 0;
  bottom: 0;
}


.tm-member-container {
	position: relative;
	overflow: hidden;
  height: 465px;
}

.icon-spacing {
  display: inline-block;
  margin: 16px 6px;

}

.tm-main-info {
  padding: 10px 15px;
  text-align: justify;
}

.tm-justify {
  text-align: justify;
}

.icon-sizing {
  font-size: 2em;
}

