/* --------------------------------

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input::-ms-clear, textarea::-ms-clear {
  display: none;
}

/* --------------------------------

Main components

-------------------------------- */
header[role=banner] {
  //position: relative;
  height: 60px;
//  z-index: 70; can make the top nav see-through
//  background: #343642;
}

.cds-nav-container {
  width: 1000px;
}

@media screen and (min-width:767px) {
  .cds-nav-container {
    width: 90%;
    margin: 0 auto;
  }
}

.cds-navbar {
//  &:hover {
//    background-color: transparentize(nth($gray-list, 1), .3);
//    color: nth($orange-list, 6);
//    text-shadow: 0px 1px 1px black;
//  }
  position: fixed;
  width: 100%;
  z-index: 1000;
//  background-image: linear-gradient(0deg, transparentize(nth($purple-list, 2), 0.1) 15%, transparentize(nth($purple-list, 1), 0.1) 85%);
  background-image: -webkit-linear-gradient(270deg, #322E40 0%, #332D46 50%, #2E283E 100%);background-image: linear-gradient(-180deg, #322E40 0%, #332D46 50%, #2E283E 100%);
  color: $offwhite;
  text-shadow: 0px 1px 1px black;
  transition: box-shadow 0.2s;
}

.top-bar-scrolled {
  box-shadow: 0 6px 4px -4px rgba(0,0,0,.3);
}

.main {
 margin: 90px auto 0;
}

#st-trigger-effects {
  display: inline-block;
  height: 60px;
}

.nav-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 1px black;
  color: $offwhite;
  &::before {
    content: "\e600";
    font-family: 'menu-font';
    font-size: 2.0em;
    line-height: 58px;
  }
  &:hover {
    color: nth($lightblue-list, 4);
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

.main-nav a, .main-nav label {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  height: 60px;
  line-height: 60px;
  // @-moz-document url-prefix() { 
  //   line-height: 50px;
  // }  
  text-align: center;
  text-shadow: 0px 1px 1px rgba(25, 25, 25, .8);
  color: $offwhite;
  text-decoration: none;
  font-size: 0.66em;
  font-family: quicksandbold;
  //text-transform: uppercase;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  &:hover {
    color: nth($lightblue-list, 4);
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  text-transform: uppercase;
}

.username-display {
  position: relative;
  text-align: center;
  .user-dropdown {
    display: none;
    position: absolute;
    background-color: transparentize(nth($purple-list, 2), 0.1);
    top: 60px;
    // height: 70px;
    width: 100%;
    z-index: 2000;
    box-shadow: 0 6px 4px -4px rgba(0,0,0,.3);
    a {
      text-align: left;
      height: 35px;
      line-height: 35px;
      // @-moz-document url-prefix() { 
      //   line-height: 30px;
      // }      
      font-size: 16px;
      &:hover {
        background-color: nth($purple-list, 4);
        color: $offwhite;
      }
    }
  }
}

.username-display {
  label {
    cursor: pointer;
    &::after {
      line-height: 60px;
      position: absolute;
      width: 20px;
      font-size: 28px;
      font-family: icomoon;
      // arrow down
      content: "\e62a";
    }
  }
  #usermenu-toggle {
    display: none; /* hide the checkbox */
  }
  #usermenu-toggle:checked + .user-dropdown {
    display: block;
  }
}

.cd-signin {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}



