<div class="legal-tab">
    <div class="row legal-topic">
        <div style="padding-bottom: 10px;" class="col-xs-4 topic-container">
            <h2 class="row">About Kit Builder</h2>
        </div>
    </div>
    <div class="row legal-topic">
        <div class="col-xs-10 topic-container topic-no-border">
            <h4 class="row"><span class="icon-heart"></span> Royalty Free Drum Samples and Audio</h4>
            <p class="col-xs-12">
                Custom Drum Samples owns all the rights to the audio samples on this Kit Builder app. All drum samples found within the Kit Builder app are royalty free. You may use our work for commercial and personal use. End users are not required to provide links to work created with our samples but we encourage it! Contact us and share if you like. You may not share or distribute the samples purchased.
            </p>
            <a class="creative-commons" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
            </a>
            <p class="col-xs-12">
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Sound" property="dct:title" rel="dct:type">
                    Our Drum Samples in the Kit Builder App
                </span>
                by
                <a xmlns:cc="http://creativecommons.org/ns#" href="http://customdrumsamples.com" property="cc:attributionName" rel="cc:attributionURL">
                    Custom Drum Samples
                </a> is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    Creative Commons Attribution 4.0 International License
                </a>.
                <br />
                Based on a work at
                <a xmlns:dct="http://purl.org/dc/terms/" href="http://customdrumsamples.com" rel="dct:source">
                    http://customdrumsamples.com
                </a>.
            </p>
        </div>
        <img class="col-xs-12 legal-banner" src="/images/Privacy-Banner-5.jpg">
    </div>
    <div class="row legal-topic">
        <div class="col-xs-10 topic-container">
            <h4 class="row">Digitally Distributed Only</h4>
            <p class="col-xs-12">
                All Samples found in the Kit Builder are for digital distribution only. There are no physical products of drum samples shipped to the customers. The samples are made available for download only via email and stored securely in our servers. All drum samples are available in 24bit 44.1khz WAV format only. WAV formats work with any DAW or Hardware for music creation.
            </p>
        </div>
    </div>
</div>