
<div class="container">
    <div class="row lm-tab">
   
      
        <div class="lrn-point1">
          <p class="kb-sub-tagline">Create Your Own Drum Packs<br></p>
          <h3 class="kb-tagline kb-tagline-1">Kit<span>Builder</span></h3>
          {{#link-to 'kitbuilder'}}<button class="_button cds-button">Build One</button>{{/link-to}}
          <p class="kb-intro">Mix &amp; match styles, choose which samples go into your drum pack, preview all samples live &amp; share your packs with the world.<br></p>
        </div>
        <div class="lrn-point2">
          <h4 class="mp-1 mp-1-1">Save Packs for Later &amp; Sharing</h4>
          <p class="mp-1 mp-1-2">Add the sounds you want to your pack and cut the ones you don't need or like.</p>
          <h4 class="mp-1 mp-1-3">Choose Only What You Need</h4>
          <p class="mp-1 mp-1-4">Play through all the drum sounds just like you would on your DAW.&nbsp;</p>
          <h4 class="mp-1 mp-1-5">Play Sounds Before You Buy</h4>
          <p class="mp-1 mp-1-6">Sign up and make custom drum packs for free.&nbsp;</p>
          <h4 class="mp-1 mp-1-7">Free to Sign Up and Use</h4>
          <p class="kb-sub-tagline">A one of a kind sound sample website. KitBuilder is the only tool available for finding sounds and making your own drum packs.<br></p>
          <h3 class="kb-tagline kb-tagline-2">Why Use Kit<span>Builder</span>?</h3>
          {{#link-to 'sign-up'}}<button class="_button cds-button">Free to Sign Up &amp; Use</button>{{/link-to}}
          <p class="mp-1 mp-1-8">Name and save your packs and come back later to purchase them when you're done.<br></p>
        </div>
        <div class="lrn-point3">
          <p class="kb-sub-tagline">Browse and Search Drum Packs<br></p>
          <h3 class="kb-tagline kb-tagline-3">Find Genre/Style</h3>
          <p class="kb-intro">Search through all our available drum packs for the exact style or genre you need. Pinpoint them by using our Tags to filter out what you don't need and combine them for unique outcomes.&nbsp;<br></p>
        </div>
        <div class="lrn-point4">
          <p class="kb-sub-tagline">Play Through All The Sounds<br></p>
          <h3 class="kb-tagline kb-tagline-4">Play &amp; Preview</h3>
          <p class="kb-intro">Once you load a drum pack you can play through all the sounds just like your DAW. Use Tab/Shift+Tab to cycle through the sounds. Check off the ones you want to include in your own custom drum pack.</p>
        </div>
        <div class="lrn-point5">
          <p class="kb-sub-tagline">Make Unlimited Custom Packs</p>
          <h3 class="kb-tagline kb-tagline-5">Save Your Kit</h3>
          <p class="kb-intro">Click the save icon in the KitBuilder at anytime to save your progress and name your new drum pack. You can also change the name and "Save As" to make as many new packs as you like.</p>
        </div>
        <div class="lrn-point6">
          <p class="kb-sub-tagline kb-sub-tagline-6">It's free! Sign up and make as many drum packs as you like.<br></p>
          {{#link-to 'sign-up'}}<button class="_button cds-button">Free to Sign Up &amp; Use</button>{{/link-to}}
          <p class="kb-sub-tagline kb-sub-tagline-7">A one of a kind sound sample website. KitBuilder is the ultimate answer to finding and making your own drum packs.<br></p>
          <h3 class="kb-tagline kb-tagline-6">Kit<span>Builder</span></h3>
        </div>
      


{{!--     Start Old Shit --}}
 {{!-- <div class="col-xs-7 lm-section lm-first-section">
        <div id="lm-header-pic" class="cds-background-image lm-picture">
        </div>
    </div>
    <div class="col-xs-5 lm-section lm-first-section">
        <h2 class=""><span>Kit</span>Builder<p class="lm-beta">beta</p><p class="lm-catch-phrase">Build Your Own Drum Kit</p></h2>
        <p class="lm-first-section-text">Mix &amp; match drum kits, choose which samples go into your drum kit, preview all samples live &amp; share your kit with the world.</p>
        {{#link-to 'kitbuilder' class="cds-button cds-button-orange cds-button-aw-medium payment-button" type="submit"}}Build One{{/link-to}}
    </div> --}}

{{!--     Start YouTube Holder --}}
{{!--     <div class="col-xs-12 lm-section">
    	<div id="lm-video" class="cds-background-image"></div>
    </div> --}}
{{!--     End YouTube Holder --}}



    {{!-- <h4 class="col-xs-12">Sound Selection</h4>
    <div class="col-xs-6 lm-section">
    	<h5>Compare Thousands of Samples</h5>
    	<p>Easily sift through dozens of styles and thousands of samples by finding the right drum kits. Pick any set of tags to skip the samples you don't need and find the ones you do.</p>
    </div>
    <div class="col-xs-6 lm-section">
    	<div id="lm-picture-1" class="cds-background-image lm-picture"></div>
    </div>
    <div class="col-xs-6 lm-section">
    	<div id="lm-picture-2" class="cds-background-image lm-picture"></div>
    </div>
    <div class="col-xs-6 lm-section">
    	<h5>Play All Sounds on the Spot</h5>
    	<p>Go through each kit's Kicks, Snares, Claps and other sample types. Preview any sample you want by simply playing it. Pick the sounds you actually need and add them to your kit.</p>
    </div>
    <h4 class="col-xs-12">Build The Kit</h4>
    <div class="col-xs-6 lm-section">
    	<h5>Build Your Custom Drum Kit</h5>
    	<p>At this point you're ready to name your kit, review all the samples added to your kit and remove what you don't need. You will also see the samples you've chosen grouped together by sample type (kicks, snares, loops, etc).</p>
    </div>
    <div class="col-xs-6 lm-section">
    	<div id="lm-picture-3" class="cds-background-image lm-picture"></div>
    </div>
    <div class="col-xs-6 lm-section">
    	<div id="lm-picture-4" class="cds-background-image lm-picture"></div>
    </div>
    <div class="col-xs-6 lm-section">
    	<h5>Bonus Drum Samples</h5>
    	<p>Get rewarded more as you expand your kit. The more samples you pick the less you pay per sample, and these discounts are automatically added to your purchase price. See pricing section for more details.</p>
    </div>
    <div class="col-xs-12 lm-section">
    	<h4>Many More Features Coming Soon!</h4>
    	<p>We are still in a beta period and are developing even more great features. Saving Kits, Sharing them on the site, Producer profiles, ratings and more coming soon!</p>
    </div>     --}}

{{!--     End Oldshit --}}
    </div>
</div>