<div class="row">
    <div class="col-xs-6">
        <div class="kb-beta-pic">
        </div>
    </div>
    <div class="col-xs-6">
        <h3><span>Kit</span>Builder<p>beta</p></h3>
        <p>Mix &amp; match drum kits, choose</p>
    </div>
</div>