<div class="row lm-tab">
    <div class="col-xs-7 lm-section lm-first-section">
        <div id="lm-header-pic" class="cds-background-image lm-picture">
        </div>
    </div>
    <div class="col-xs-5 lm-section lm-first-section">
        <h2 class=""><span>Kit</span>Builder<p class="lm-beta">beta</p><p class="lm-catch-phrase">Build Your Own Drum Kit</p></h2>
        <p class="lm-first-section-text">Mix &amp; match drum kits, choose which samples go into your drum kit, preview all samples live &amp; share your kit with the world.</p>
        {{#link-to 'kitbuilder' class="cds-button cds-button-orange cds-button-aw-medium payment-button" type="submit"}}Build One{{/link-to}}
    </div>
    <div class="col-xs-12 lm-section">
    	<div id="lm-video" class="cds-background-image"></div>
    </div>
    <h4 class="col-xs-12">Sound Selection</h4>
    <div class="col-xs-6 lm-section">
    	<h5>Compare Thousands of Samples</h5>
    	<p>Easily sift through dozens of styles and thousands of samples by finding the right drum kits. Pick any set of tags to skip the samples you don't need and find the ones you do.</p>
    </div>
    <div class="col-xs-6 lm-section">
    	<div id="lm-picture-1" class="cds-background-image lm-picture"></div>
    </div>
    <div class="col-xs-6 lm-section">
    	<div id="lm-picture-2" class="cds-background-image lm-picture"></div>
    </div>
    <div class="col-xs-6 lm-section">
    	<h5>Play All Sounds on the Spot</h5>
    	<p>Go through each kit's Kicks, Snares, Claps and other sample types. Preview any sample you want by simply playing it. Pick the sounds you actually need and add them to your kit.</p>
    </div>
    <h4 class="col-xs-12">Build The Kit</h4>
    <div class="col-xs-6 lm-section">
    	<h5>Build Your Custom Drum Kit</h5>
    	<p>At this point you're ready to name your kit, review all the samples added to your kit and remove what you don't need. You will also see the samples you've chosen grouped together by sample type (kicks, snares, loops, etc).</p>
    </div>
    <div class="col-xs-6 lm-section">
    	<div id="lm-picture-3" class="cds-background-image lm-picture"></div>
    </div>
    <div class="col-xs-6 lm-section">
    	<div id="lm-picture-4" class="cds-background-image lm-picture"></div>
    </div>
    <div class="col-xs-6 lm-section">
    	<h5>Bonus Drum Samples</h5>
    	<p>Get rewarded more as you expand your kit. The more samples you pick the less you pay per sample, and these discounts are automatically added to your purchase price. See pricing section for more details.</p>
    </div>
    <div class="col-xs-12 lm-section">
    	<h4>Many More Features Coming Soon!</h4>
    	<p>We are still in a beta period and are developing even more great features. Saving Kits, Sharing them on the site, Producer profiles, ratings and more coming soon!</p>
    </div>    
</div>