<div class="row">
    <div class="col-xs-6">
        <h4>Account</h4>
        <form>
            {{input class="cds-text-input" type="text" value=firstName size="50"}}
        </form>
    </div>
    <div class="col-xs-6">

    </div>
</div>