<div class="legal-tab">
    <div class="row legal-topic">
        <div class="col-xs-12 topic-container">
            <h2 class="row">Privacy Policy</h2>
            <p class="col-xs-12">
                This Privacy Policy governs the manner in which Beat Paradigm collects, uses, maintains and discloses information collected from users (each, a "User") of the <a href="/">BeatParadigm.com</a> website ("Site").
                <br>
                <br>
                This privacy policy applies to the Site and all products and services offered by Beat Paradigm.
            </p>
        </div>
    </div>
    <div class="row legal-topic">
        <div class="col-xs-12 topic-container">
            <h4 class="row">Personal Identification Information</h4>
            <p class="col-xs-12">
                We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, place an order, subscribe to the newsletter, respond to a survey, fill out a form, and in connection with other activities, services, features or resources we make available on our Site.
                <br>
                <br>
                Users may be asked for, as appropriate, name, email address, mailing address, phone number, credit card information. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
            </p>
        </div>
    </div>
    <div class="row legal-topic">
        <div class="col-xs-12 topic-container topic-container">
            <h4 class="row">Non-personal Identification Information</h4>
            <p class="col-xs-12">
                We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
            </p>
        </div>
    </div>
    <div class="row legal-topic">
        <div class="col-xs-12 topic-container">
            <h4 class="row">Web Browser Cookies</h4>
            <p class="col-xs-12">
                Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
            </p>
        </div>
    </div>
    <div class="row legal-topic">
        <div class="col-xs-12 topic-container">
            <h4 class="row">How We Use Collected Information</h4>
            <dl class="row">
                <dt>To improve customer service</dt>
                <dd class="chunk_divide">Information you provide helps us respond to your customer service requests and support needs more efficiently.</dd>
                <dt>To personalize user experience</dt>
                <dd class="chunk_divide">We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.</dd>
                <dt>To improve our Site</dt>
                <dd class="chunk_divide">We may use feedback you provide to improve our products and services.</dd>
                <dt>To process payments</dt>
                <dd class="chunk_divide">We may use the information Users provide about themselves when placing an order only to provide service to that order. We do not share this information with outside parties except to the extent necessary to provide the service.</dd>
                <dt>To run a promotion, contest, survey or other Site feature</dt>
                <dd class="chunk_divide">To send Users information they agreed to receive about topics we think will be of interest to them.</dd>
                <dt>To send periodic emails</dt>
                <dd class="chunk_divide">We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email or User may contact us via our Site.</dd>
            </dl>
        </div>
    </div>
    <div class="row legal-topic">
        <div class="col-xs-12 topic-container topic-container">
            <h4 class="row">How We Protect Your Information</h4>
            <p class="col-xs-12">
                We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
                <br>
                <br>
                Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.
                <br>
                <br>
                We have a dedicated authentication server that verifies requests. Our site is protected against CSRF attacks (security when logging in and working with your user profile.)
            </p>
        </div>
    </div>
    <div class="row legal-topic">
        <div class="col-xs-12 topic-container">
            <h4 class="row">Sharing your personal information</h4>
            <p class="col-xs-12">
                We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.
            </p>
        </div>
    </div>
    <div class="row legal-topic">
        <div class="col-xs-12 topic-container">
            <h4 class="row">Changes to this privacy policy</h4>
            <p class="col-xs-12">
                Beat Paradigm has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
            </p>
        </div>
    </div>
    <div class="row legal-topic">
        <div class="col-xs-12 topic-container">
            <h4 class="row">Your acceptance of these terms</h4>
            <p class="col-xs-12">
                By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.
            </p>
        </div>
    </div>
    <div class="row legal-topic">
        <div class="col-xs-12 topic-container">
            <h4 class="row">Contacting us</h4>
            <p class="col-xs-12">
                If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:
                <a href="/contact/">inquiries@beatparadigm.com</a>
            </p>
        </div>
    </div>
    <div>
        <span style="font-size: 0.6em;">This document was last updated on December 24, 2014</span>
    </div>

</div>