
<div class="row lm-tab">
  <div class="container">
    <div class="row">
      <div class="price-bg">


        <div class="pricing-container">
          <div class="price-purple">
            <span style="font-size: 42px">Level 1</span>
            <span style="font-size: 26px">.30¢/</span><span style="font-size: 14px">Sample</span><br>
            <span style="font-size: 14px">Up to 45 Samples</span>
          </div>
          <div class="price-blue">
            <span style="font-size: 42px">Level 2</span>
            <span style="font-size: 26px">.25¢/</span><span style="font-size: 14px">Sample</span><br>
            <span style="font-size: 14px">46 to 90 Samples</span>
          </div>
          <div class="price-orange">
            <span style="font-size: 42px">Level 3</span>
            <span style="font-size: 26px">.20¢/</span><span style="font-size: 14px">Sample</span><br>
            <span style="font-size: 14px">90 to 135 Samples</span>
          </div>
        </div>


                  
        <p class="pr-sub-tagline pr-sub-tagline-1">3 Simple Prices for All The Custom Drum Packs You Make</p>
        <p class="pr-sub-tagline pr-sub-tagline-2">Know &amp; choose what samples you are paying for. The level of samples in your custom drum pack determines your savings.<br></p>
        <h3 class="pr-tagline">Kit<span>Builder</span>&nbsp;Sample Pricing</h3>
      </div>
      <div class="cta-sectopn">
        {{#link-to 'kitbuilder'}}<button class="prbutton">Build One. It's Free</button>{{/link-to}}
      </div>
      <div class="last-call-container">
        <p class="sub-point sub-point-1">Sign up is free. Listening to and making drum packs is unlimited. Make your go-to BoomBap packs, Acoustic Trap, Trip Hop, Glitch, etc...</p>
        <p class="sub-point sub-point-2">Save your progress anytime by naming your drum pack. In fact, you can save as many as you like and make as many as you want.&nbsp;</p>
        <p class="sub-point sub-point-3">Producer's only use between 30-70% of a drum pack they purchase. Why pay for the whole thing? Pick &amp; pay for only what you need in your pack.</p>
        <p class="sub-point sub-point-4">We let you preview and play through every single sound in a drum pack. With us you know what 100% what you get.</p>
        <h4 class="point-title point-title-1">Free Sign Up Unlimited Packs</h4>
        <h4 class="point-title point-title-2">Save As Many As You Want</h4>
        <h4 class="point-title point-title-3">Only Pay For What You Need</h4>
        <h4 class="point-title point-title-4">Hear What You're Paying For</h4>
      </div>
    </div>
  </div>
</div>



{{!-- <div class="legal-tab">
    <div class="row legal-topic">
        <div style="padding-bottom: 10px;" class="col-xs-4 topic-container">
            <h2 class="row">Sample Prices</h2>
        </div>
    </div>
    <div class="row legal-topic">
        <div class="col-xs-10 topic-container topic-no-border">
            <h4 class="row"><span class="icon-heart"></span> Royalty Free Drum Samples and Audio</h4>
            <p class="col-xs-12">
                Beat Paradigm owns all the rights to the audio samples on this Kit Builder app. All drum samples found within the Kit Builder app are royalty free. You may use our work for commercial and personal use. End users are not required to provide links to work created with our samples but we encourage it! Contact us and share if you like. You may not share or distribute the samples purchased.
            </p>
            <a class="creative-commons" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
            </a>
            <p class="col-xs-12">
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Sound" property="dct:title" rel="dct:type">
                    Our Drum Samples in the Kit Builder App
                </span>
                by
                <a xmlns:cc="http://creativecommons.org/ns#" href="http://customdrumsamples.com" property="cc:attributionName" rel="cc:attributionURL">
                    Beat Paradigm
                </a> is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    Creative Commons Attribution 4.0 International License
                </a>.
                <br />
                Based on a work at
                <a xmlns:dct="http://purl.org/dc/terms/" href="http://customdrumsamples.com" rel="dct:source">
                    http://customdrumsamples.com
                </a>.
            </p>
        </div>
        <img class="col-xs-12 legal-banner" src="/images/Privacy-Banner-5.jpg">
    </div>
    <div class="row legal-topic">
        <div class="col-xs-10 topic-container">
            <h4 class="row">Digitally Distributed Only</h4>
            <p class="col-xs-12">
                All Samples found in the Kit Builder are for digital distribution only. There are no physical products of drum samples shipped to the customers. The samples are made available for download only via email and stored securely in our servers. All drum samples are available in 24bit 44.1khz WAV format only. WAV formats work with any DAW or Hardware for music creation.
            </p>
        </div>
    </div>
</div> --}}