<div class="main-content">
    <div id="about-us-slide-1" class="slide on-top">
        <section id="about-us-slide-section-1">
            <div class="container">
                <div class="about-first-topic">
                    <div class="row about-title">
                        <h2>Who We Are <span class="icon-aboutusicon" style="font-size: 1.1em; display: inline-block; text-indent: 3px;"></span></h2>
                    </div>

                    <div class="row about-para paragraph-text">
                        <p>
                            We are sound designers and producers that saw a lot of issues with the way producers find their sound. The real way artists achieve the sound they need for their projects is getting in the studio with other musicians and sound designers and taking and/or combining their style of sounds into another. We aim to simulate that by allowing you to freely browse any style of sound, preview the samples live, and then you choose what you actually like and want to keep in your own custom drum pack. 
                        </p>
                    </div>
                </div>
                <div class="about-topic">
                    <div class="row about-title">
                        <h2>Our Mission <span class="icon-missionicon" style="font-size: 1.1em; display: inline-block; text-indent: 3px;"></span></h2>
                    </div>
                    <div class="row about-para paragraph-text">
                        <h4>
                            Give producers the ability to achieve, find and share the exact sound they need. 
                        </h4>
                        <br>
                        <p>
                            Beat Paradigm dreams about improving and creating new ways sound selection and sharing goes down. KitBuilder is the first pillar in establishing our goals and vision in sound design and sharing across all platforms and DAWs. We want to provide invaluable tools for any music producer in need of the right sound. 
                        </p>    
                        <div class="col-xs-12 cds-background-image about-us-banner"></div>
                    </div>
                </div>
                <div class="about-topic">
                    <div class="row about-title">
                        <h2>Core Values</h2>
                    </div>
                    <div class="row about-para paragraph-text cv-z-spacing">

                            <div class="cv-entity">
                                <p>
                                    We hope you recognize what we are about from our website. These are a few that really mean a lot to us. 
                                </p>
                            </div>

                            <div class="cv-entity">
                                <h4>Sounds First <span class="icon-side_drum" style="display: inline-block; text-indent: 3px;"></span></h4>
                                <p>
                                    Good sample and sound design is the number one element in any song.
                                </p>
                            </div>

                            <div class="cv-entity">
                                <h4>New Connections <span class="icon-users" style="display: inline-block; text-indent: 3px;"></span></h4>
                                <p>
                                    We work tirelessly on establishing new contacts to provide new content and packs for the site.
                                </p>
                            </div>

                            <div class="cv-entity">
                                <h4>Purposeful Functionality <span class="icon-equalizer" style="display: inline-block; text-indent: 3px;"></span></h4>
                                <p>
                                    Our apps not only do their job but also change the way producers should act and think about sounds and samples. 
                                </p>
                            </div>
                            
                            <div class="cv-entity">
                                <h4>Open and Transparent <span class="icon-heart" style="display: inline-block; text-indent: 3px;"></span></h4>
                                <p>
                                    We want to be open about our new advancements, the point behind our new ideas, our pricing and what really goes into your samples and our accomplishments, goals, and obstacles. 
                                </p>
                            </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>