<div class="main-content">
    <div id="about-us-slide-1" class="slide on-top">
        <section id="about-us-slide-section-1">
            <div class="container">
                <div class="about-first-topic">
                    <div class="row about-title">
                        <h2>About Us <span class="icon-aboutusicon" style="font-size: 1.1em;"></span></h2>
                    </div>

                    <div class="row about-para paragraph-text">
                        <p>
                            Custom Drum Samples is a Sound Design company currently based out of New Jersey.
                        </p>
                    </div>
                </div>
                <div class="about-topic">
                    <div class="row about-title">
                        <h4>Mission <span class="icon-missionicon" style="font-size: 1.2em;"></span></h4>
                    </div>
                    <div class="row about-para paragraph-text">
                        <p>
                            At Custom Drum Samples our goal is to revolutionize the process of obtaining sounds for aspiring and professional producers alike, by putting the producer’s preference in finding the perfect samples. Currently, Sample Providers give a small demo of a kit, which forces producers to buy hundreds of unknown samples. These sounds drive up costs, eat up hard drive space and ultimately waste time. With a constantly growing selection of sounds, we can satisfy any producer’s needs. By getting rid of the hundreds of useless samples necessary for a kit, we help producers build the perfect Drum Kit.
                        </p>
                        <div class="col-xs-12 cds-background-image about-us-banner"></div>
                    </div>
                </div>
                <div class="about-topic">
                    <div class="row about-title">
                        <h4>How We Work</h4>
                    </div>
                    <div class="row about-para paragraph-text">
                        <p>
                            Any producer or audio engineer knows the struggle of finding the right sample to tie a track together. Using our Kit Builder, producers can side step all the frustration of going through 200+ unknown samples and instead know exactly what sounds they’re getting. You can preview all sounds, build and then download your own custom Drum Kit. With tags, we make your experience as efficient as possible. If a producer needs more specific drum samples, Drum Quotes can make that happen. By filling out a simple form, picking genres, drum types and the number of drums needed, we can put together drums and samples to satisfy any needs. Producers receive an instant estimate on what their job will cost. All Producers from aspiring to professional are welcome.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>