<div class="main-content">
    <div class="slide legal-slide">
        <div class="container">
            {{#tab-view}}
                {{#tab-pane name="My Account"}}
                    {{partial "partials/my-account"}}
{{!--                     {{outlet "update-info"}} --}}
                {{/tab-pane}}

                {{#tab-pane name="My Purchases"}}
                    {{partial "partials/my-drum-kits"}}
                {{/tab-pane}}

                {{#tab-pane name="My Templates"}}
                    {{partial "partials/my-templates"}}
                {{/tab-pane}}
            {{/tab-view}}            
        </div>
    </div>
</div>
