<div class="main-content">
    <div class="slide">
{{!--         <div class="container activate-container">
    		<h3>Your account is now activated!</h3>
			{{#link-to 'kitbuilder' class="cds-button cds-button-aw-large"}}
				Get Started with Kitbuilder
			{{/link-to}}        
		</div> --}}
    </div>
</div>