<div class="main-content">
    <div id="about-us-slide-1" class="slide on-top">
        <section id="about-us-slide-section-1">
            <div class="container">
                <div class="about-first-topic">
                    <div class="row about-title">
                        <h3>Contact <span class="icon-twitter" style="font-size: 1.1em;"></span></h3>
                    </div>

                    <div class="row about-para paragraph-text">
                        <p>
                           Get in touch with us in one of the many ways below.  
                        </p>
                    </div>
                </div>
                <div class="about-topic">
                    <div class="row about-title">
                        <h4>Customer Support <span class="icon-twitter" style="font-size: 1.2em;"></span></h4>
                    </div>
                    <div class="row about-para paragraph-text">
                        <p>
                             Tweet us <a href="http://twitter.com/beatparadigm"><span class="contact-twitter">@BeatParadigm?</span></a> for around the clock customer support and help.
                        </p>

                        <ul>
                            <li>Reason 1</li>
                            <li>Reason 2</li>
                            <li>Reason 3</li>
                            
                        </ul>  
                        


                    </div>
                </div>
                <div class="about-topic">
                    <div class="row about-title">
                        <h4>Updates and News</h4>
                    </div>
                    <div class="row about-para">
                        <p>
                            Get a sense of the direction we are taking our site, updates, features and more. Blog currently in development!
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
