<div class="main-content">
    <div id="about-us-slide-1" class="slide on-top">
        <section id="about-us-slide-section-1">
            <div class="container">
                <div class="about-first-topic">
                    <div class="row about-title">
                        <h3>Contact <span class="icon-twitter" style="font-size: 1.1em;"></span></h3>
                    </div>

                    <div class="row about-para paragraph-text">
                        <p>
                           Get in touch with us in one of the many ways below.  
                        </p>
                    </div>
                </div>
                <div class="about-topic">
                    <div class="row about-title">
                        <h4>Customer Support <span class="icon-twitter" style="font-size: 1.2em;"></span></h4>
                    </div>
                    <div class="row about-para paragraph-text">
                        <p>
                            Tweet us <a href="http://twitter.com/beatparadigm"><span class="contact-twitter">@BeatParadigm</span></a> for around the clock help with: 
                                <span style="color:rgb(231,76,48)"><strong>Around the clock support, Purchase questions, How Kit Builder Works, any concerns and comments</strong></span> or just to talk.
                                
                        </p>                  
                    </div>
                </div>
                <div class="about-topic">
                    <div class="row about-title about-para paragraph-text social-media-margin">
                        <h4>BeatParadigm Blog</h4>
                        <p>
                            In depth news and updates about BeatParadigm and features. Coming soon...
                        </p>
                        <a class="contact-twitter" href="http://instagram.com/beatparadigm"><h4>BeatParadigm on Instagram</h4></a> 
                        <p>
                            Follow us for daily updates and exclusive deals and discounts.
                        </p>
                        <a class="contact-twitter" href="http://facebook.com/beatparadigm"><h4>BeatParadigm on Facebook</h4></a>
                        <p>
                            Keep up with our status, photos and exclusive deals as we grow.
                        </p>
                        <a class="contact-twitter" href="http://beatparadigm.tumblr.com"><h4>BeatParadigm on Tumblr</h4></a>
                        <p>
                            See everything we enjoy about Music Production in one place.
                        </p>
                        <a class="contact-twitter" href="http://soundcloud.com/beatparadigm"><h4>BeatParadigm on SoundCloud</h4></a>
                        <p>
                            Hear our favorite tracks by various Producers and Sound Designers.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
