<div class="main-content">
    <div id="lp-slide-1" class="slide on-top">
        <section id="lp-slide-section-1">
            <div id="gradient-overlay"></div> 
            <div class="lp-video-wrapper">

                <video loop autoplay poster="/images/LP-BG.jpg">                    
{{!--                     <source src="/video/Stock_Footage_CDS.mp4" type='video/mp4'/>
                    <source src="/video/Stock_Footage_CDS.webm" type='video/webm' />
                    <source src="/video/Stock_Footage_CDS.ogg" type='video/ogg' /> --}}

                    <source src="/video/bp-footage-1080.mp4" type='video/mp4'/>
                    <source src="/video/bp-footage-1080.webm" type='video/webm' />
                    <source src="/video/bp-footage-1080.ogg" type='video/ogg' />



                    <img src="/images/LP-BG.jpg" title="Your browser does not support the <video> tag">  --}}               
                </video>  

                <div id="lp-video-overlay">

                    <div class="row lp-video-overlay-wrapper">
                        <h2 class="col-xs-12">Create Your Own Drum Packs</h2>
                        <p class="col-xs-10 col-xs-offset-1">

                            Beat Paradigm allows you to create your very own custom drum packs with 
                            Kit Builder. Browse drum packs and find samples to give your music 
                            the precise sound you need. 


                        </p>
                        <div class="col-xs-6 col-xs-offset-3">
                            {{#if session.isAuthenticated}}
                                {{#link-to 'kitbuilder' class="cds-button cds-button-orange cds-button-aw-large"}}Get Started{{/link-to}}
                            {{else}}
                                {{#link-to 'sign-up' class="cds-button cds-button-orange cds-button-aw-large"}}Get Started{{/link-to}}
                            {{/if}}
                        </div>                
                    </div>                
                </div>
            </div>
            <div class="container lp-container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row lp-title-tagline-logo">
                            <div class="col-xs-12 lp-title-tagline">
                                <!--<h2><span style="color:#0EA3B5;">Kit</span>Builder</h2> 
                                <h4 style="text-align:center;">Build Your Own Drum Packs.</h4>-->
                                <div id="lp-header">
                                    <img src="/images/landing_header.png">
                                </div>
                            </div>
                        </div>
                        <div class="row lp-sales-pitch">
                            <p>
                            Mix and match the style of sound, preview the samples live like any DAW, 
                            create and name your own drum packs to produce your beats. 
                            </p>
                        </div>
                        {{three-choices}}
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                {{#link-to 'kb-learn-more' class="cds-button cds-button-orange cds-button-aw-large"}}Learn More{{/link-to}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

