<div class="main-content">


<div id="lp-slide-1" class="slide on-top">
    <section id="lp-slide-section-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row title-tagline-logo">
                        <div class="col-xs-5 col-xs-offset-3 title-tagline">
                            <h1>KIT BUILDER</h1>
                            <h3>The Perfect Drum Kit</h3>
                        </div>
                        <div class="col-xs-2">
                            <div class="logo"></div>
                        </div>
                    </div>
                    <div class="row sales-pitch">
                        <p>
                            Hand pick the <a class="">drum samples</a> you need! Mix and match from any <a class="">genre</a>.
                            <br>
                            Listen to drum samples live, add to cart, and <a class="">download</a>!
                        </p>
                    </div>
                    <div class="row three-steps">
                        <div class="col-xs-4 step-container">
                            <div class="flipper">
                                <div id="step-1" class="step front">
                                    <h3>Browse Samples</h3>
                                </div>
                                <div class="step back">
                                    <p>Over 5000 studio quality samples to choose from!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 step-container">
                            <div class="flipper">
                                <div id="step-2" class="step front">
                                    <h3>Mix & Match</h3>
                                </div>
                                <div class="step back">
                                    <p>10 Genres of loops and samples available!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 step-container">
                            <div class="flipper">
                                <div id="step-3" class="step front">
                                    <h3>Exclusive Drum Kit</h3>
                                </div>
                                <div class="step back">
                                    <p>Customize your drum kit how you need it. Download it today!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row try-it">
                        <div class="col-xs-4 col-xs-offset-4">
                            <a href="#" class="cds-button">Try It</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="lp-slide-section-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row title-tagline-logo">
                        <div class="col-xs-6 col-xs-offset-1 title-tagline">
                            <h1>CUSTOM DRUMS</h1>
                            <h3>Exclusive Drum Samples</h3>
                        </div>
                        <div class="col-xs-2 col-xs-offset-1">
                            <div class="logo"></div>
                        </div>
                    </div>
                    <div class="row sales-pitch">
                        <p>
                            Need Professional Sounding Samples? Take your sound to the next level <br>
                            with Exclusive Studio Quality Drums. Fill out a <a href="#" class="">Custom Drum Quote</a> today!
                        </p>
                    </div>
                    <div class="row three-steps">
                        <div class="col-xs-4 step-container">
                            <div class="flipper">
                                <div id="step-1-b" class="step front">
                                    <h3>Tell Us Your Needs</h3>
                                </div>
                                <div class="step back">
                                    <p>Let us know what style of drums you need...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 step-container">
                            <div class="flipper">
                                <div id="step-2-b" class="step front">
                                    <h3>Get A Quote</h3>
                                </div>
                                <div class="step back">
                                    <p>Get an instant estimate of price range and a timetable...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 step-container">
                            <div class="flipper">
                                <div id="step-3-b" class="step front">
                                    <h3>Submit Request</h3>
                                </div>
                                <div class="step back">
                                    <p>Finalize your request and get the exact sound you've been waiting for!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row try-it">
                        <div class="col-xs-4 col-xs-offset-4">
                            <a href="#" class="cds-button">Get Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>

