<div class="main-content">


<div id="lp-slide-1" class="slide on-top">
    <section id="lp-slide-section-1">
        <div class="lp-video-wrapper">
            <video src="/video/Stock_Footage_CDS.mp4" type="video/mp4" autoplay loop>
                <p>Your browser does not support the <code>audio</code> element </p>
            </video>
            <div id="lp-video-overlay">
                <h2>The Best Way to Discover Drum Samples</h2>
                <p>
                    Beat Paradigm offers Music Producers the first way to build custom drum kits with Kit Builder.
                    Find any sound you need and build the sample kit you want.
                </p>
            </div>
        </div>
        <div class="container lp-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row title-tagline-logo">
                        <div class="col-xs-5 col-xs-offset-3 title-tagline">
                            <h1>KIT BUILDER</h1>
                            <h3>The Perfect Drum Kit</h3>
                        </div>
                        <div class="col-xs-2">
                            <div class="logo"></div>
                        </div>
                    </div>
                    <div class="row sales-pitch">
                        <p>
                            Hand pick the <a class="">drum samples</a> you need! Mix and match from any <a class="">genre</a>.
                            <br>
                            Listen to drum samples live, add to cart, and <a class="">download</a>!
                        </p>
                    </div>
                    <div class="row three-steps">
                        <div class="col-xs-4 step-container">
                            <div class="flipper">
                                <div id="step-1" class="step front">
                                    <h3>Browse Samples</h3>
                                </div>
                                <div class="step back">
                                    <p>Over 5000 studio quality samples to choose from!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 step-container">
                            <div class="flipper">
                                <div id="step-2" class="step front">
                                    <h3>Mix & Match</h3>
                                </div>
                                <div class="step back">
                                    <p>10 Genres of loops and samples available!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 step-container">
                            <div class="flipper">
                                <div id="step-3" class="step front">
                                    <h3>Exclusive Drum Kit</h3>
                                </div>
                                <div class="step back">
                                    <p>Customize your drum kit how you need it. Download it today!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row try-it">
                        <div class="col-xs-4 col-xs-offset-4">
                            <a href="#" class="cds-button">Try It</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>

