        <div id="kb-slide-3" class="slide">
            <div class="slide-width-container">
                <div class="row">
                    <section id="kb-slide-1-section-1" class="col-xs-6">
                        <div class="kb-slide-section-container">

                            <div class="row filter-row">

                                <div class="col-xs-9 filters">
                                </div>
                            </div>
                            <div class="row kit-row">

                            </div>
                        </div>
                    </section>
                    <section id="kb-slide-1-section-2" class="col-xs-6">
                        <div class="kb-slide-section-container">

                            <div class="row filter-row">

                            </div>

                            <div class="row selection-row">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
