<div class="kb-slide-section-container kb-checkout-subroute kb-thank-you">

    <div class="row filter-row">
        <h4 class="kb-checkout-headline">Choose A Payment Method</h4>
    </div>

    <div class="row selection-row">        
        <div class="col-xs-12 kb-checkout-section-container">
            <a class="cds-button cds-button-paypal cds-button-aw-medium payment-button" type="submit">Paypal Checkout (Coming Soon!)</a>
            {{#link-to 'kb-billing' class="cds-button cds-button-aw-medium payment-button"}}Secure Checkout With Stripe{{/link-to}}          
        </div>
    </div>
</div>      
