<div class="main-content">
    <div class="slide legal-slide">
        <div class="container">
            {{#tab-view}}
              {{#tab-pane name="Privacy Policy"}}
                {{partial "partials/privacy-policy"}}
              {{/tab-pane}}

              {{#tab-pane name="Licenses"}}
                {{partial "partials/licenses"}}
              {{/tab-pane}}
            {{/tab-view}}
        </div>
    </div>
</div>
