<div class="main-content">
    <div class="slide">
        <div class="container activate-container">
    		<h3>Your account password has been reset</h3>
    		You may now log in with your new credentials.
		</div>
    </div>
</div>