<div class="main-content">
    <div class="slide legal-slide">
        <div class="container">
            {{#tab-view}}
                {{#tab-pane name="Account Settings"}}
                    {{partial "partials/account-settings"}}
                {{/tab-pane}}

                {{#tab-pane name="Payment Info"}}
                    {{partial "partials/payment-info"}}
                {{/tab-pane}}

                {{#tab-pane name="My Drum Kits"}}
                    {{partial "partials/my-drum-kits"}}
                {{/tab-pane}}

            {{/tab-view}}
        </div>
    </div>
</div>
