<div class="main-content">
    <div class="slide register-slide">
        <div class="container register-container">
    		<h3>Thanks for Registering</h3>
    		<ul>
    			<li>Please check your email to activate your account!</li>
    			<li style="text-decoration: underline; cursor: pointer;" {{action 'resendActivation'}}>Click here to Resend Activation email</li>
			</ul>
        </div>
    </div>
</div>
