<div class="main-content">

    <div class="slide team-members-slide">
        <section id="team-members-slide-section-1">
            <div class="container">
            	<div class="row tm-title">
                	<h3>Team Members <span class="icon-users" style="font-size: 1.1em;"></span></h3>
                	<p class="col-xs-12" id="tm-description">
                		BoostBandify consists of 3 members with roots in music production. We all want to build something cool and intuitive for aspiring music producers everywhere. Right now, we are a small unit at the moment but every player matters. Find out about us below. 
                	</p>
            		{{!-- 1st Team Member --}}
            		<div class="col-xs-4 tm-member-container">
            			<div id="tm-picture-2" class="cds-background-image tm-picture"></div>            			
            			<div class="tm-button-description-container">
            				<div class="cds-button cds-button-aw-large tm-button">Brandon Antonelli</div>
	            			<div class="tm-description-box">
	            				<div class="row">
	            					<h4 class="col-xs-12">This is Brandon</h4>
	            					<p class="col-xs-12">
	            						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
	            					</p>
	            					<div class="col-xs-12">
	            						<span class="icon-instagram"></span>
	            						<span class="icon-twitter"></span>
	            						<span class="icon-youtube"></span>
	            						<span class="icon-wordpress"></span>
	            					</div>
	            				</div>		            			
	            			</div>
	            		</div>	
            		</div>
            		{{!-- 2nd Team Member --}}
            		<div class="col-xs-4 tm-member-container">
            			<div id="tm-picture-2" class="cds-background-image tm-picture"></div>            			
            			<div class="tm-button-description-container">
            				<div class="cds-button cds-button-aw-large tm-button">Ali Zendaki</div>
	            			<div class="tm-description-box">
	            				<div class="row tm-main-info">
	            					<h4 class="col-xs-12">This is Ali</h4>
	            					<p style="text-align:justify;" class="col-xs-12">
	            						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
	            					</p>
	            					<div class="col-xs-12">
	            						<span class="icon-instagram icon-spacing"></span>
	            						<span class="icon-twitter icon-spacing"></span>
	            						<span class="icon-youtube icon-spacing"></span>
	            						<span class="icon-wordpress icon-spacing"></span>
	            					</div>
	            				</div>		            			
	            			</div>
	            		</div>	
            		</div>
            		{{!-- 3rd Team Member --}}
            		<div class="col-xs-4 tm-member-container">
            			<div id="tm-picture-1" class="cds-background-image tm-picture"></div>            			
            			<div class="tm-button-description-container">
            				<div class="cds-button cds-button-aw-large tm-button">Humberto Zayas</div>
	            			<div class="tm-description-box">
	            				<div class="row">
	            					<h4 class="col-xs-12">This is Humberto</h4>
	            					<p class="col-xs-12">
	            						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
	            					</p>
	            					<div class="col-xs-12">
	            						<span class="icon-instagram"></span>
	            						<span class="icon-twitter"></span>
	            						<span class="icon-youtube"></span>
	            						<span class="icon-wordpress"></span>
	            					</div>
	            				</div>		            			
	            			</div>
	            		</div>	
            		</div>
            	</div>
            </div>
        </section>
    </div>
</div>