<div class="main-content">

    <div class="slide team-members-slide">
        <section id="team-members-slide-section-1">
            <div class="container">
            	<div class="row">
                	<h3 class="col-xs-12">Team Members <span class="icon-users" style="font-size: 1.1em;"></span></h3>
                	<p class="col-xs-12" id="tm-description">Custom Drum Samples is a small unit at the moment but every player matters.</p>
            		<div class="col-xs-4 tm-member-container">
            			<div id="tm-picture-1" class="cds-background-image tm-picture"></div>            			
            			<div class="tm-button-description-container">
            				<div class="cds-button cds-button-aw-large tm-button">Humberto Zayas</div>
	            			<div class="tm-description-box">
	            				<div class="row">
	            					<h4 class="col-xs-12">This is Humberto</h4>
	            					<p class="col-xs-12">
	            						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
	            					</p>
	            					<div class="col-xs-12">
	            						<span class="icon-instagram"></span>
	            						<span class="icon-twitter"></span>
	            						<span class="icon-youtube"></span>
	            						<span class="icon-wordpress"></span>
	            					</div>
	            				</div>		            			
	            			</div>
	            		</div>	
            		</div>
            		{{!-- 2nd Team Member --}}
            		<div class="col-xs-4 tm-member-container">
            			<div id="tm-picture-1" class="cds-background-image tm-picture"></div>            			
            			<div class="tm-button-description-container">
            				<div class="cds-button cds-button-aw-large tm-button">Humberto Zayas</div>
	            			<div class="tm-description-box">
	            				<div class="row">
	            					<h4 class="col-xs-12">This is Humberto</h4>
	            					<p class="col-xs-12">
	            						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
	            					</p>
	            					<div class="col-xs-12">
	            						<span class="icon-instagram"></span>
	            						<span class="icon-twitter"></span>
	            						<span class="icon-youtube"></span>
	            						<span class="icon-wordpress"></span>
	            					</div>
	            				</div>		            			
	            			</div>
	            		</div>	
            		</div>
            	</div>
            </div>
        </section>
    </div>
</div>