<div class="main-content">
    <div class="slide legal-slide">
        <div class="container">
            {{#tab-view}}
                {{#tab-pane name="Producer Profile"}}
                    {{partial "partials/my-profile"}}
                {{/tab-pane}}
                {{#tab-pane name="My Templates"}}
                    {{partial "partials/my-templates"}}
                {{/tab-pane}}
            {{/tab-view}}            
        </div>
    </div>
</div>
