<!--
- We are in the kitbuilder app.
- Also within the SlideController aliased as "slideshow
-->
<div id="kb-slide-2" class="slide">
    <div class="slide-width-container">
        <div class="col-xs-9">
            <div class="row kit-choices">
                <div class="col-xs-12 kit-details">
                    <form class="col-xs-4">
                        <input type="text" ng-model="kitname" placeholder="Name Your Kit" class="cds-text-input name-your-kit">
                    </form>

                    <div class="col-xs-4">
                        <h3><span class="sample-name-total"> kitname </span></h3>
                    </div>

                    <div class="col-xs-4">
                        <h3>Total Sounds: <span class="sample-name-total">48</span></h3>
                    </div>
                </div>
                    <section class="col-xs-4 kb-slide-2-section sample-choices section-pocket-effect">
                        <h4 class="col-xs-10 col-xs-offset-1">Kicks</h4>
                        <div class="row instrument-choice">
                            <span class="col-xs-10 col-xs-offset-1">808's</span>
                            <ul class="sample-list col-xs-10 col-xs-offset-1">
                                    <li class="row sample-sound">
                                        <div class="col-xs-8 sample-info">
                                            <span class="sample-name">Sample_Name-forloop.counter</span>
                                            <span class="sample-name-kit">-Chillstrumentals</span>
                                        </div>
                                        <div class="col-xs-2 sample-play">
                                            <div class="icon-play"></div>
                                        </div>
                                        <div class="col-xs-2 select-sound">
                                            <div class="icon-remove"></div>
                                        </div>
                                    </li>
                            </ul>
                        </div>
                        <div class="row instrument-choice">
                            <span class="col-xs-10 col-xs-offset-1">808's</span>
                            <ul class="sample-list col-xs-10 col-xs-offset-1">
                                    <li class="row sample-sound">
                                        <div class="col-xs-8 sample-info">
                                            <span class="sample-name">Sample_Name-forloop.counter</span>
                                            <span class="sample-name-kit">-Chillstrumentals</span>
                                        </div>
                                        <div class="col-xs-2 sample-play">
                                            <div class="icon-play"></div>
                                        </div>
                                        <div class="col-xs-2 select-sound">
                                            <div class="icon-remove"></div>
                                        </div>
                                    </li>
                            </ul>
                        </div>
                    </section>

            </div>
        </div>
        <div class="col-xs-3">
            <div class="row discounts">
            <section class="kb-slide-2-section discount-section">
                <h3>Discounts</h3>
            </section>
            </div>

        </div>
    </div>
</div>
